.beastie {
  composes: animBoxBackground from global;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  color: black;
  max-width: 370px;
  width: 100%;
}

.row {
  display: flex;
  flex: 1 0 0;
  justify-content: space-evenly;
}

.moverow {
  composes: row;
  flex: 0 0 0;
  justify-content: center;
  padding: 0 8px;
  gap: 8px;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  max-width: 185px;
  width: 100%;
}

.name {
  white-space: nowrap;
  padding: 0 4px;
  box-sizing: border-box;
}

.number {
  font-size: 62.5%;
  font-family: var(--sports-jersey);
  color: #808080;
}

.beastieImg {
  max-width: 160px;
  width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
  margin: 10px;
}

.statDist {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
}

.statRow {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.statRow > div {
  min-width: 16px;
  flex: 1 0;
  text-align: center;
  position: relative;
}

.statBar {
  composes: animPageHeaderBackground from global;
  flex: 1.5 0 !important;
  align-self: stretch;
}

.barCol {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--type-col);
}

.barColRight {
  composes: barCol;
  left: auto;
  right: 0;
}

.barImg {
  height: 1.7em;
}

.barText {
  position: absolute;
  top: 3px;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: var(--sports-jersey);
  font-size: 1.4em;
  /* -webkit-text-stroke: 0.5px var(--type-col); */
  text-shadow:
    -1px -1px 0 var(--type-col),
    1px 1px 0 var(--type-col),
    1px -1px 0 var(--type-col),
    -1px 1px 0 var(--type-col);
}

.levelOverwritten {
  color: darkblue;
}

.graytext {
  font-size: 0.9em;
  color: darkslategray;
}

.move {
  display: flex;
  position: relative;
  flex: 1 1 0;
  width: 100px;
  min-width: 27%;
  background-color: var(--move-color);
  height: 2em;
  line-height: 0.9em;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  cursor: pointer;
  margin-bottom: 4px;
}

.moveblock {
  height: 100%;
  width: 20px;
  background-image:
    linear-gradient(var(--move-color), var(--move-color)), var(--move-url),
    linear-gradient(black, black);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-blend-mode: multiply, normal;
  flex: 0 0 auto;
}

.moveothercolor {
  composes: moveothercolor from "/src/Shared/Shared.module.css";
}

.movehalftone {
  composes: movehalftone from "/src/Shared/Shared.module.css";
  background:
    var(--dot) 0 0/ 1em 1em,
    var(--dot) 0.5em 0.5em/ 1em 1em,
    linear-gradient(330deg, #777, #eee);
}

.movename {
  word-break: break-word;
}
