.container {
  composes: animBackground from global;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - var(--header-height));
  min-height: calc(100dvh - var(--header-height));
  width: 100%;
  margin: auto;
  text-align: center;
  overflow-x: hidden;
}

.container button {
  width: 100px;
  height: 40px;
}

.help {
  display: flex;
  max-width: 100%;
}
.help div {
  flex-shrink: 1;
}

@media all and (max-aspect-ratio: 1/1) {
  .container {
    height: calc(100vh - var(--header-height));
    height: calc(100dvh - var(--header-height));
  }

  .help {
    font-size: 0.8em !important;
  }

  .guesses {
    font-size: 1em !important;
  }

  .guesses tbody {
    font-size: 1em !important;
  }

  .guessesContainer {
    overflow: auto !important;
  }
}

.guessesContainer {
  width: 100%;
  height: 100%;
  flex: 1 0 0;
  overflow: visible;
}

.guesses {
  width: 100%;
  padding: 16px;
}

.guesses thead {
  position: sticky;
}

.guesses tbody {
  font-size: 1.6em;
}

.guesses img,
.help img {
  height: 1em;
  vertical-align: middle;
}

.guessSection {
  padding: 4px;
  background-color: lime;
  color: black;
  text-align: center;
  vertical-align: middle;
}

.guessSectionWrong {
  composes: guessSection;
  background-color: red;
}

.guessSectionMaybe {
  composes: guessSection;
  background-color: orange;
}

.guessSectionBlank {
  composes: guessSection;
  background-color: grey;
}
