.tabselect {
  width: fit-content;
  margin-left: 2%;
  height: 32px;
  position: relative;
  background-image: repeating-linear-gradient(
    135deg,
    #000000,
    #000000 10px,
    #2e2e2e 10px,
    #2e2e2e 20px
  );
  clip-path: polygon(0 0, calc(100% - 2px) 0, 100% 100%, 2px 100%);
  z-index: 1;
}

.tabselect > button {
  font-family: inherit;
  font-size: 1em;
  background-color: transparent;
  transition: background-color 0.2s;
  border: none;
  clip-path: polygon(0 0, calc(100% - 2px) 0, 100% 100%, 2px 100%);
  height: 100%;
}

.tabselect > button:hover {
  background-color: #ffaa556b;
}

.selectedtab {
  background-color: #ffaa55a8 !important;
}

.tab {
  position: relative;
  top: -12px;
  background-image: repeating-linear-gradient(
    #ddd1bd,
    #ddd1bd 4px,
    #d5c9b5 4px,
    #d5c9b5 8px
  );
  clip-path: polygon(0 0, calc(100% - 8px) 0, 100% 100%, 8px 100%);
  width: 100%;
  padding: 16px 0 1px 0;
  animation-name: bg-scroll;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes bg-scroll {
  0% {
    background-position-y: -2px;
  }

  100% {
    background-position-y: -10px;
  }
}

.colorslider {
  margin-left: 4%;
  margin-bottom: 6px;
  width: 92%;
  padding: 0 4px 0 4px;
  clip-path: polygon(0 0, calc(100% - 4px) 0, 100% 100%, 4px 100%);
}

.colorslider > input {
  margin: 0;
  width: 100%;
  height: 100%;
}

.colorslider > input:disabled {
  visibility: hidden;
}

.customcolor {
  margin-left: 4%;
}
