.tabcontainer {
  composes: animBoxBackground from global;
  position: relative;
  top: -4px;
  margin-bottom: 10px;
  clip-path: polygon(0 0, calc(100% - 8px) 0, 100% 100%, 8px 100%);
  box-sizing: border-box;
  width: 100%;
  max-width: 700px;
  padding: 10px 16px 7px 16px;
  color: black;
}

.tab {
  width: 100%;
}

.taboffset {
  margin-left: 4px;
}

.colorslider {
  margin-bottom: 6px;
  width: 100%;
  /* clip-path: polygon(0 0, calc(100% - 4px) 0, 100% 100%, 4px 100%); */
}

.colorslider > input {
  margin: auto 0;
  width: 101%;
  height: 20px;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
}

@supports (-moz-appearance: none) {
  /* Firefox only - needs slider centered because thumb can't be moved */
  .colorslider > input {
    position: relative;
    left: -0.5%;
    top: 2px;
  }
}

.colorslider > input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 24px;
  margin-top: 4px;
  margin-left: -3px;
  width: 8px;
  background-color: transparent;
  outline: 2px black solid;
  border: 1px white solid;
  border-radius: 4px;
}

.colorslider > input::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 6px;
  background-color: transparent;
  outline: 2px black solid;
  border: 1px white solid;
  border-radius: 4px;
}

.colorslider > input:disabled {
  visibility: hidden;
}

.customcolor:not(:first-child) {
  margin-left: 16px;
}
