.preview {
  width: 35%;
  overflow-y: auto;
  scrollbar-gutter: stable;
  padding: 8px;
  padding-top: 16px;
  box-sizing: border-box;
}

.canvascon {
  composes: animBoxBackground from global;
  clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 100%, 20px 100%);
  box-sizing: border-box;
  padding: 10px 30px 10px 30px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
}

.previewcanvas {
  width: 100%;
  height: auto;
  resize: horizontal;
}

.canvasfailed {
  width: 100%;
  font-size: 2em;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvasfailed div {
  text-align: center;
}

.upArrow {
  display: inline-block;
  transform: scaleY(-1);
}

.previewOptions {
  display: block;
  width: 100%;
}

.previewSettings label {
  display: flex;
  align-items: center;
}

.previewSettings input[type="range"] {
  height: 21px;
}

.previewSettings input[type="color"] {
  height: 27px;
}

.previewOptionsNotVisible {
  display: none;
}

.previewOptionsButton {
  composes: animSelectableBackground from global;
  clip-path: polygon(0 0, calc(100% - 4px) 0, 100% 100%, 4px 100%);
  border: none;
  border-radius: 0;
  padding: 6px;
  margin-bottom: 10px;
  color: black;
  font-family: var(--go-banana);
  font-size: 1em;
}

.previewOptionsButton:hover {
  background-image: repeating-linear-gradient(
    135deg,
    #ffaa55,
    #ffaa55 10px,
    #ff8e4a 10px,
    #ff8e4a 20px
  ) !important;
}

@media all and (max-aspect-ratio: 1/1) and (max-width: 800px) {
  .preview {
    width: 100%;
    padding-top: 8px;
  }
}

@media all and (max-aspect-ratio: 1/1) and (min-width: 800px) {
  .preview {
    width: 45%;
  }
}
