.container {
  display: flex;
  flex-direction: column;
}

.team {
  flex: 0 1 auto;
  display: flex;
  padding: 10px 0 10px 0;
  gap: 2px;
  flex-wrap: wrap;
  justify-content: center;
}

.teamScroll {
  composes: team;
  flex-wrap: nowrap;
  justify-content: start;
  padding: 10px;
  overflow-x: auto;
}

.beastieContainer {
  max-width: 350px;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.teamScroll > .beastieContainer {
  flex: 0 0 auto;
}

.beastieContainer > div {
  flex: 1 0 auto;
}

.edit {
  flex: 1 0 auto;
  margin: 8px;
}

.editOptions {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: start;
}

.moveSelectModal {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 4px;
  justify-content: center;
  overflow-y: scroll;
  height: 90vh;
  max-width: calc(
    round(down, calc(90vw - 40px), min(calc(90vw - 40px), 468px)) + 13px
  );
  box-sizing: border-box;
}

.moveSelectMove {
  flex: 0 0 95%;
  max-width: 460px;
  width: 95%;
  cursor: pointer;
}

.savedTeams {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  padding: 12px 6px;
}

.savedTeamName {
  color: inherit;
  border: inherit;
  font-family: inherit;
  font-size: inherit;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
}

.savedTeamBeasties {
  display: flex;
}

.savedTeamBeasties > div {
  display: flex;
  flex-direction: column;
}

.savedTeamBeasties img {
  width: 60px;
}
