.container {
  display: flex;
  flex-direction: column;
}

.team {
  flex: 0 1 auto;
  display: flex;
  padding-top: 10px;
  gap: 2px;
  flex-wrap: wrap;
  justify-content: center;
}

.team > div {
  max-width: 350px;
}

.edit {
  flex: 1 0 auto;
  margin: 8px;
}

.editOptions {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: start;
}

.moveSelectModal {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 4px;
  justify-content: center;
  max-width: round(down, calc(90vw - 40px), min(calc(90vw - 40px), 468px));
}

.moveSelectMove {
  flex: 0 0 95%;
  max-width: 460px;
  width: 95%;
  cursor: pointer;
}
