.container {
  display: flex;
  flex-direction: column;
}

.containerScrolls {
  composes: container;
  max-height: calc(100dvh - var(--header-height));
  height: calc(100dvh - var(--header-height));
}

.team {
  flex: 0 1 auto;
  display: flex;
  padding: 5px 0 0 0;
  gap: 2px;
  flex-wrap: wrap;
  justify-content: center;
}

.teamScroll {
  composes: team;
  flex: 0 0 auto;
  flex-wrap: nowrap;
  justify-content: start;
  padding: 5px 10px 0 10px;
  overflow-x: auto;
}

.beastieContainer {
  max-width: 350px;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.teamScroll > .beastieContainer {
  flex: 0 0 auto;
}

.beastieContainer > div {
  flex: 1 0 auto;
}

.box {
  composes: animBoxBackground from global;
  color: black;
  margin: 6px 0;
  padding: 4px 8px;
  width: fit-content;
  clip-path: polygon(0 0, calc(100% - 4px) 0, 100% 100%, 4px 100%);
}

@media all and (max-aspect-ratio: 1/1) and (max-width: 800px) {
  .box {
    margin: 1px 0;
  }
}

.box > * {
  white-space: nowrap;
}

.shareModal {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 8px;
}

.shareModal > label {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.shareModal > div {
  white-space: pre-wrap;
}

.noBeastie {
  composes: animBoxBackground from global;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: black;
  height: 253.7px;
  max-width: 370px;
  width: 100%;
}

.edit {
  flex: 1 1 auto;
  margin: 4px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: start;
}

.editScrolls {
  composes: edit;
  overflow-y: scroll;
}

.moveSelectModal {
  display: flex;
  flex-direction: column;
  padding-top: 4px;
  max-width: calc(
    round(down, calc(90vw - 40px), min(calc(90vw - 40px), 468px)) + 13px
  );
  height: 90vh;
  box-sizing: border-box;
  gap: 4px;
}

.moveSelectGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: start;
  align-content: start;
  overflow-y: scroll;
  width: 100%;
  box-sizing: border-box;
}

.moveSelectMove {
  flex: 0 0 95%;
  max-width: 460px;
  width: 95%;
  cursor: pointer;
}

.savedTeams {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  padding: 12px 6px;
}

.savedTeamName {
  color: inherit;
  border: inherit;
  font-family: inherit;
  font-size: inherit;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
}

.savedTeamBeasties {
  display: flex;
}

.savedTeamBeasties > div {
  display: flex;
  flex-direction: column;
}

.savedTeamBeasties img {
  width: 60px;
}

.tabcontainer {
  composes: animBoxBackground from global;
  position: relative;
  top: -4px;
  margin-bottom: 10px;
  clip-path: polygon(0 0, calc(100% - 8px) 0, 100% 100%, 8px 100%);
  box-sizing: border-box;
  width: 100%;
  max-width: 700px;
  padding: 4px 16px;
  color: black;
}

.statselect {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.statrow {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.stattop {
  font-size: 1.2em;
}

.stattopsep {
  width: 30px;
}

.statimg {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

.statinput {
  width: 40px;
}
