.sectionheader {
  width: 100%;
  text-align: center;
  margin: 4px 0 4px 0;
}

.team {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.featuredList {
  display: flex;
  justify-content: center;
  gap: 4px;
  flex-wrap: wrap;
  width: 100%;
}

.featuredTeam {
  composes: animSelectableBackground from global;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 240px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  color: black !important;
}

.featuredTeamSelected {
  composes: featuredTeam;
  composes: animSelectedBackground from global;
}

.featuredDesc {
  font-size: 0.9em;
  color: rgb(25, 25, 25);
  position: relative;
  align-self: stretch;
}

.featuredHoverCollapsed {
  display: block;
  padding: 2px 0;
  background-color: rgba(0, 0, 0, 0.3);
  color: lightgray;
  font-size: 0.9em;
}

.featuredHoverDesc {
  composes: animBoxBackground from global;
  position: absolute;
  box-shadow: 0 0 5px black;
  display: none;
  top: -2px;
  left: -2px;
  padding: 2px;
  width: 100%;
  z-index: 1;
}

.featuredHover:hover .featuredHoverDesc {
  display: block;
  cursor: default;
}

.featuredIcons {
  display: flex;
  justify-content: space-evenly;
}

.featuredIcon {
  height: 40px;
}

.addTeamText {
  font-size: 0.9em;
  text-align: center;
}

.categorybg {
  composes: sectionheader;
  composes: boxHeaderBackground from global;
  width: fit-content;
  margin: auto;
  clip-path: polygon(0 0, calc(100% - 2px) 0, 100% 100%, 2px 100%);
  margin-bottom: 6px;
}

.categorybutton {
  font-family: inherit;
  font-size: 1em;
  background-color: transparent;
  transition: background-color 0.2s;
  border: none;
  border-radius: 0;
  clip-path: polygon(0 0, calc(100% - 2px) 0, 100% 100%, 2px 100%);
  height: 100%;
  padding: 4px 8px 4px 8px;
}

.categorybutton:hover {
  background-color: #ffaa556b;
}

.categorybuttonSelected {
  composes: categorybutton;
  background-color: #ffaa55a8 !important;
}
