.beastie {
  display: flex;
  max-width: 600px;
  width: 49%;
}

@media all and (max-width: 800px) {
  .beastie {
    gap: 2px;
    max-width: 100%;
    width: 100%;
    flex-direction: column;
  }
}

.beastie-noevent {
  display: flex;
  max-width: 100%;
}

.beastiepreview {
  /* aspect-ratio: 1; */
  /* width: 15%; */
  width: 40%;
  height: fit-content;
}

.beastieimage {
  aspect-ratio: 1;
  width: 100%;
  object-fit: contain;
  /* max-width: 100%; */
  /* max-height: 100%; */
}

.beastieinfo {
  display: flex;
  flex-wrap: wrap;
}

.beastienumber {
  font-size: 62.5%;
  font-family: var(--sports-jersey);
  color: #808080;
}

.beastiename,
.beastiename span {
  vertical-align: middle;
}

.eventlist {
  display: flex;
  max-height: 200px;
  overflow: scroll;
  flex-direction: column;
  gap: 6px;
  padding: 4px 0 4px 0;
}

.event {
  /* composes: animBoxBackground from global; */
  padding: 0 4px 0 4px;
}
