.beastie {
  display: flex;
  height: fit-content;
  background-color: #808080;
}

.beatieimage {
  max-width: 25%;
  height: 100%;
}

.beastieinfo {
  display: flex;
  flex-direction: column;
}

.beastienumber {
  font-size: 62.5%;
  font-family: var(--sports-jersey);
  color: #808080;
}

.beastiename,
.beastiename span {
  vertical-align: middle;
}

.eventlist {
  display: flex;
  max-height: 200px;
  overflow: scroll;
  flex-direction: column;
  gap: 6px;
  padding: 4px 0 4px 0;
}

.event {
  composes: animBoxBackground from global;
  padding: 0 4px 0 4px;
}
