.container {
  margin-top: 8px;
}

.container :global(.tabber) {
  margin: 0 0 4px 10px;
  font-size: 1.15em;
}

.beastiecontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.sectionhidden {
  display: none;
}

.beastiecontainerhidden {
  composes: beastiecontainer;
  display: none;
}

.datatable {
  composes: infoBoxContent from global;
  position: relative;
  top: -8px;
  max-width: 100%;
  width: 100%;
  padding: 4px 10px 0 10px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.datatable div,
.datatable button {
  display: none;
}

.datakey,
.dataval {
  display: block !important;
}

.visible {
  display: block !important;
}

.datakey:nth-child(odd of .datakey),
.dataval:nth-child(odd of .dataval) {
  background-color: rgba(0, 0, 0, 0.2);
}

.datatable textarea {
  resize: vertical;
  width: 100%;
}
