.container {
  composes: animBackground from global;
  min-width: 100vw;
  min-height: 100vh;
  height: fit-content;
}

.belowheader {
  min-height: calc(100% - var(--header-height));
}

.foldableHeader {
  composes: animSelectableBackground from global;
  width: fit-content;
  z-index: 1;
  padding: 4px 12px 4px 12px;
  clip-path: polygon(0 0, calc(100% - 4px) 0, 100% 100%, 4px 100%);
  position: relative;
  left: 10px;
  color: black;
  user-select: none;
}

.foldableHeader:hover {
  background-image: repeating-linear-gradient(
    135deg,
    #ffaa55,
    #ffaa55 10px,
    #ff8e4a 10px,
    #ff8e4a 20px
  ) !important;
}

.upArrow {
  display: inline-block;
  transform: scaleY(-1);
}

.foldable {
}

.folded {
  display: none;
}

.beastiecontainer {
  display: flex;
  flex-wrap: wrap;
}

.header {
  composes: boxHeaderBackground from global;
  width: fit-content;
  z-index: 1;
  padding: 4px 12px 4px 12px;
  clip-path: polygon(0 0, calc(100% - 4px) 0, 100% 100%, 4px 100%);
  position: relative;
  margin-left: 10px;
  margin-right: 5px;
}

.varcontainer {
  composes: animBoxBackground from global;
  color: black;
  padding: 4px 16px 4px 16px;
  clip-path: polygon(0 0, calc(100% - 8px) 0, 100% 100%, 8px 100%);
  width: fit-content;
  max-width: 100%;
  position: relative;
  top: -4px;
}

.varcontainer a {
  color: blue;
}

.varcontainer a:visited {
  color: darkblue;
}

.datatable {
  composes: varcontainer;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.datarow {
  display: flex;
  flex-direction: row;
}

.datarow div,
.datarow textarea {
  flex: 1 1;
}
.datarow textarea {
  flex-grow: 3;
}
