.map {
  background-color: transparent;
  font-family: var(--go-banana);
  height: calc(100% - var(--header-height));
}

.hidemarker {
  width: 0;
  height: 0;
  cursor: inherit;
}

.textmarker {
  composes: boxHeaderBackground from global;
  white-space: nowrap;
  width: fit-content;
  height: fit-content;
  color: white;
  padding: 5px 10px 5px 10px;
  clip-path: polygon(0 0, calc(100% - 5px) 0, 100% 100%, 5px 100%);
  transform: translateX(-50%);
}

.bigtextmarker {
  composes: textmarker;
  font-size: 2em;
}

.imgmarker {
  width: 30px;
  height: 30px;
  border: solid white 3px;
  box-sizing: border-box;
  background-color: black;
  border-radius: 100%;
  transform: translateX(-9px);
}

.imgmarker img {
  margin: 10% 0 0 10%;
  width: 80%;
  height: 80%;
}

:global(.leaflet-image-layer:hover) {
  z-index: 20 !important;
  outline: white dashed 6px;
  box-sizing: content-box;
}
