.map {
  background-color: #10548c;
  font-family: var(--go-banana);
  height: calc(100vh - var(--header-height));
  height: calc(100dvh - var(--header-height));
}

.controlBox {
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  border-radius: 8px;
  color: black;
}

.controlHidden {
  display: none;
}

.controlBox:not(:hover) .controlHidden {
  display: block;
  width: 44px;
  height: 44px;
}

.controlHidden > img {
  margin-top: 4px;
  margin-left: 4px;
  width: 36px;
  height: 36px;
}

.controlContent {
  display: none;
  flex-direction: column;
  font-size: 1.08333em;
  align-items: end;
  margin: 6px;
}

.controlContent:has(dialog[open]) {
  /* if modal is open DO NOT go display: none otherwise everything breaks */
  display: flex;
}

.controlBox:hover .controlContent {
  display: flex;
}

.controlContent > h3 {
  width: 100%;
  text-align: center;
}

.hidemarker {
  width: 0;
  height: 0;
  cursor: inherit;
}

.spoilerBeastie {
  filter: brightness(50%);
}

.textmarker {
  composes: boxHeaderBackground from global;
  white-space: nowrap;
  width: fit-content;
  height: fit-content;
  color: white;
  padding: 5px 10px 5px 10px;
  clip-path: polygon(0 0, calc(100% - 5px) 0, 100% 100%, 5px 100%);
  transform: translateX(-50%);
}

.bigtextmarker {
  composes: textmarker;
  font-size: 2em;
}

.imgmarker {
  width: 30px;
  height: 30px;
  border: solid white 3px;
  box-sizing: border-box;
  background-color: black;
  border-radius: 100%;
  transform: translateX(-9px);
}

.imgmarker img {
  margin: 10% 0 0 10%;
  width: 80%;
  height: 80%;
}

.itemList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item {
  display: flex;
  align-items: center;
}

.item > img {
  height: 40px;
}

.item > div {
  display: flex;
  flex-direction: column;
}

.specialBeastie {
  display: flex;
  align-items: center;
}

.specialBeastie > a > img {
  height: 80px;
}

.metamorph {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: auto;
}

.metamorphColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.metamorphColumn img {
  height: 40px;
}

.mapBg {
  z-index: -2 !important;
}

:global(.leaflet-image-layer:hover) {
  z-index: 20 !important;
  outline: white dashed 6px;
  box-sizing: content-box;
}

.bigLevel,
.bigLevel:hover {
  z-index: -2 !important;
}

.goBehind {
  z-index: -1 !important;
}

.levelSelected {
  z-index: 21 !important;
  outline: aqua dashed 6px !important;
  box-sizing: content-box;
}

.bigLevelSelected {
  z-index: -1 !important;
}

.insideOverlay {
  z-index: 22 !important;
}

@keyframes popupOpen {
  from {
    clip-path: polygon(0 0, 10px 100%, 10px 100%, 0 0);
  }

  to {
    clip-path: polygon(0 0, 10px 100%, 100% 100%, calc(100% - 10px) 0);
  }
}

:global(.leaflet-popup) {
  animation-name: popupOpen;
  animation-duration: 0.2s;
  transition: clip-path 0.2s !important;
  opacity: 1 !important;
  font-size: 1.15em;
  clip-path: polygon(0 0, 10px 100%, 100% 100%, calc(100% - 10px) 0);
}

:global(.noanim) :global(.leaflet-popup) {
  animation: none !important;
  transition: none !important;
}

:global(.leaflet-popup-content-wrapper) {
  background-image: repeating-linear-gradient(
    #ddd1bd,
    #ddd1bd 4px,
    #d5c9b5 4px,
    #d5c9b5 8px
  );
  animation-name: alt-bg-scroll;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border-radius: 0;
}

:global(.leaflet-popup-close-button) {
  margin-right: 10px;
  color: #111;
}

:global(.leaflet-popup-tip) {
  background-color: transparent;
}

:global(.leaflet-popup-closing) {
  /* not a regular leaflet thing but it's added in map onpopupclose event */
  clip-path: polygon(
    calc(100% - 10px) 0,
    100% 100%,
    100% 100%,
    calc(100% - 10px) 0
  );
}
