.staticheader {
  height: var(--header-height);
  width: 100%;
}

.header {
  composes: animPageHeaderBackground from global;
  height: var(--header-height);
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.toggleicon {
  height: 70%;
  transform-origin: 60% 50% 0;
  cursor: pointer;
  transform: scaleX(-1);
}

.toggleicon:hover {
  transform: scale(-1.1, 0.95);
}

.toggleiconOff {
  composes: toggleicon;
  transform: scale(-1.2, 0.9);
}

.toggleiconOff:hover {
  transform: scale(-1.15, 0.925);
}

.homelink {
  width: fit-content;
  aspect-ratio: 1;
  height: 100%;
  margin-left: 15px;
}

.homeicon {
  aspect-ratio: 1;
  margin-top: 2%;
  margin-left: 5%;
  height: 90%;
  background-image: url(/gameassets/sprMainmenu/14.png);
}

.homeicon:is(:hover, :focus) {
  background-image: url(/gameassets/sprMainmenu/15.png);
}

.title {
  min-width: 0;
  font-size: 2em;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 12px;
}

.externallinkcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
}

@media all and (max-aspect-ratio: 1/1) {
  .title {
    font-size: 1em;
    white-space: wrap;
  }
}
