.header {
  composes: animPageHeaderBackground from global;
  height: var(--header-height);
  display: flex;
}

.toggleicon {
  position: relative;
  top: 15%;
  height: 70%;
  transform-origin: 60% 50% 0;
  cursor: pointer;
}

.toggleiconvisible {
  transform: scaleX(-1);
}

.homelink {
  width: fit-content;
  aspect-ratio: 1;
  height: 100%;
  margin-left: 15px;
  margin-right: 5px;
}

.homeicon {
  filter: invert();
  aspect-ratio: 1;
  margin-top: 2.5%;
  margin-left: 2.5%;
  height: 95%;
}

.title {
  min-width: 0;
  font-size: 2em;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 12px;
  line-height: var(--header-height);
}

.animationtogglecontainer {
  margin-left: auto;
}

.externallinkcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
}
