.navmenu {
  display: flex;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sep {
  flex-grow: 1;
}

.header :global {
  composes: boxHeaderBackground from global;
  background-size: 200% 200%;
  animation-name: selectable-scroll;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  padding: 8px 16px 8px 16px;
  clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 100%, 10px 100%);
  text-align: center;
  margin: 16px 0;
}

.options {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  justify-content: center;
  gap: 20px;
}

.menulink {
  composes: animSelectableBackground from global;
  padding: 16px;
  width: 12%;
  font-size: 1vw;
  text-decoration: none;
  clip-path: polygon(0 0, 93% 0, 100% 100%, 7% 100%);
}

.menulink:is(:hover, :focus) {
  background-image: repeating-linear-gradient(
    135deg,
    #ffaa55,
    #ffaa55 10px,
    #ff8e4a 10px,
    #ff8e4a 20px
  ) !important;
}

.menuoption {
  width: 100%;
  flex-basis: 10%;
}

.images {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  aspect-ratio: 1;
}

.images > img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  filter: brightness(20%);
  image-rendering: pixelated;
}

.image {
  visibility: visible;
}

.hoverimage {
  visibility: hidden;
}

.menulink:is(:hover, :focus) > div > .images > .image {
  visibility: hidden;
}

.menulink:is(:hover, :focus) > div > .images > .hoverimage {
  visibility: visible;
}

.text {
  width: 100%;
  white-space: pre;
  text-align: center;
  color: black;
}

.footer {
  margin-bottom: 20px;
}

.footer > * {
  margin-top: 10px;
}

@media all and (max-aspect-ratio: 1/1) {
  .menulink {
    width: 30%;
    font-size: 4vw;
  }
}
