.smallimage {
  vertical-align: middle;
  height: 1em;
}

.texttag,
.texttag span {
  /* align smaller text vertically */
  vertical-align: middle;
  position: relative;
}

@keyframes wave {
  from {
    top: -2px;
  }

  to {
    top: 2px;
  }
}
@keyframes shake {
  0% {
    top: -2px;
    left: -2px;
  }

  30% {
    top: 2px;
    left: 1px;
  }

  65% {
    top: -2px;
    left: 2px;
  }

  100% {
    top: 2px;
    left: -2px;
  }
}
@keyframes blink {
  0% {
    visibility: hidden;
  }
  49% {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
}

.texttagnobreak {
  white-space: nowrap;
}

.externallinks {
  display: flex;
  justify-content: center;
}

.externallinklogo {
  height: 25px;
}

.movecontainer {
  display: flex;
  width: 460px;
  height: 160px;
  font-family: var(--sports-jersey);
}

.moveviewimage {
  display: flex;
  width: 64px;
  height: 100%;
  align-items: flex-end;
  background:
    linear-gradient(to right, var(--move-color), var(--move-color)),
    no-repeat var(--move-url),
    linear-gradient(to right, #000000, #000000);
  background-blend-mode: multiply, normal;
}

.movepower {
  width: 100%;
  height: 64px;
  box-sizing: border-box;
  padding-top: 6px;
  background-image: linear-gradient(to right, #606060, #606060),
    url("/gameassets/sprite2_0.png"),
    linear-gradient(to right, #000000, #000000);
  background-blend-mode: multiply, normal;
  text-align: center;
  font-size: 2.8em;
  color: white;
}

.moveseparator {
  width: 18px;
  background-color: black;
  border-left: 10px solid var(--move-color);
}

.movecontent {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-right: 4px;
  width: 368px;
  height: 100%;
  text-align: right;
  color: black;
  background-color: var(--move-color);
}

.movename {
  font-size: 2.8em;
  height: 50%;
}

.movedesc {
  font-size: 1.6em;
}

.animationtoggle {
  display: flex;
  user-select: none;
}
