.info {
  height: 100%;
  width: 65%;
  float: left;
  overflow-y: auto;
}

.inner {
  width: 95%;
  /* height: 95%; */
  margin-top: 2.5%;
  margin-left: 2.5%;
}

.traittable {
  border-collapse: collapse;
}

.traittable td {
  padding: 0 6px 0 6px;
}
.traittable td:first-child {
  text-align: right;
  border-right: solid black 1px;
}

.wrapinfoboxes {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.training span {
  vertical-align: middle;
}

.trainingImage {
  height: 1em;
  vertical-align: middle;
}

.middlealign {
  display: flex;
  align-items: center;
}

.research {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  gap: 10px;
}

.researchimage {
  max-height: 200px;
  width: auto;
  max-width: 100%;
}

.combo > :global(.infoBoxContentContainer) > :global(.infoBoxContent) {
  max-width: calc(100% - 20px);
  width: 460px;
  margin: 0 10px 4px 10px;
}

@media all and (max-aspect-ratio: 1/1) {
  .info {
    width: 100%;
    height: fit-content;
    margin-bottom: 60px;
  }
}
