.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.container > div {
  max-width: 100%;
}

.container :global(.infoBoxContent) {
  padding: 4px 10px 6px 10px;
}

.listcontainer {
  width: 350px;
  max-width: 100%;
  height: fit-content;
  display: flex;
  margin-bottom: 8px;
  color: black;
}

.movelist {
  width: 163px;
}

.movelist > div {
  margin-left: 4px;
}

.movecontainer {
  display: flex;
  gap: 12px;
  position: relative;
  margin-left: 10px !important;
  width: 100%;
  align-items: center;
}

.movelevel {
  width: 10px;
  text-align: right;
}

.movetext {
  display: flex;
  flex-shrink: 1;
  width: fit-content;
  cursor: pointer;
}

.movetext img {
  height: 1em;
  margin: auto 2px auto 0;
}

.movetext.selected {
  background-color: rgba(34, 226, 226, 0.459);
  border-radius: 4px;
}

.viewcontainer {
  max-width: 100%;
  width: 460px;
  margin: 6px 0 4px 0;
  width: 460px;
  flex: 1 1;
}
