.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.container > div {
  max-width: 100%;
}

.container :global(.infoBoxContent) {
  max-width: 100%;
  margin: 0 10px 0 10px;
}

.listcontainer {
  composes: animBoxBackground from global;
  width: 350px;
  max-width: 100%;
  height: fit-content;
  display: flex;
  margin-bottom: 8px;
  color: black;
  clip-path: polygon(0 0, calc(100% - 10px) 0%, 100% 100%, 10px 100%);
}

.movelist {
  width: 163px;
}

.movelist > div {
  margin-left: 4px;
}

.movecontainer {
  display: flex;
  gap: 12px;
  position: relative;
  margin-left: 10px !important;
  width: 100%;
}

.movelevel {
  width: 10px;
  text-align: right;
}

.movetext {
  display: flex;
  flex-shrink: 1;
  width: fit-content;
  cursor: pointer;
  text-decoration: underline dotted;
}

.movetext img {
  height: 1em;
}

.movetext.selected {
  background-color: rgba(34, 226, 226, 0.459);
  border-radius: 4px;
}

.viewcontainer {
  max-width: 100%;
  width: 460px;
  margin: 6px 0 4px 0;
  width: 460px;
  flex: 1 1;
}
