.container {
  composes: animBoxBackground from global;

  color: black;
  max-width: 100%;
  width: 420px;
  height: 170px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 14px;
  clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 100%, 20px 100%);
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.statcontainer {
  composes: column;
  width: 45%;
}

.midblock {
  composes: column;
  height: 100%;
  width: 10%;
  align-items: center;
}

.barcontainer {
  width: 100%;
  height: 20%;
  font-size: 1.4em;
  position: relative;
  text-align: right;
  top: 4px;
}

.statcontainer > .barcontainer:nth-child(n + 2) {
  top: 0;
  background-color: rgba(117, 117, 117, 0.5);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 10px 100%);
}

.barcontainerright {
  text-align: left;
}

.statcontainer > .barcontainerright:nth-child(n + 2) {
  clip-path: polygon(0 0, calc(100% - 10px) 0%, 100% 100%, 0% 100%);
}

.midblock > img {
  width: 80%;
  height: 20%;
  object-fit: contain;
}

.bar {
  position: absolute;
  background-color: blue;
  height: 100%;
  right: 0;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 10px 100%);
}

.barright {
  left: 0;
  text-align: left;
  clip-path: polygon(0 0, calc(100% - 10px) 0%, 100% 100%, 0% 100%);
}

.text {
  position: relative;
  width: 100%;
  height: 100%;
  right: 10px;
  top: 3px;
}

.textright {
  left: 10px;
}
