.container {
  composes: animBoxBackground from global;

  position: relative;
  top: -4px;
  color: black;
  max-width: 100%;
  width: 420px;
  height: 170px;
  box-sizing: border-box;
  padding: 0 18px 4px 21px;
  margin-bottom: 10px;
  clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 100%, 20px 100%);
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.statcontainer {
  composes: column;
  composes: latinText from global;
  width: 45%;
}

.midblock {
  composes: column;
  height: 100%;
  width: 10%;
  align-items: center;
}

.barcontainer {
  width: 100%;
  height: 20%;
  font-size: 1.4em;
  position: relative;
  text-align: right;
  top: 4px;
  --bar-offset: 0px;
}

.statcontainer > .barcontainer:nth-child(n + 2) {
  top: 0;
  background-color: rgba(117, 117, 117, 0.5);
  clip-path: polygon(
    var(--bar-offset) 0,
    100% 0,
    100% 100%,
    calc(4px + var(--bar-offset)) 100%
  );
}

.barcontainerright {
  composes: barcontainer;
  text-align: left;
}

.statcontainer > .barcontainerright:nth-child(n + 2) {
  clip-path: polygon(
    0 0,
    calc(100% - 4px - var(--bar-offset)) 0%,
    calc(100% - var(--bar-offset)) 100%,
    0% 100%
  );
}

.midblock > img {
  width: 80%;
  height: 20%;
  object-fit: contain;
}

.bar {
  position: absolute;
  background-color: blue;
  height: 100%;
  right: -1px;
  box-sizing: border-box;
  clip-path: polygon(
    var(--bar-offset) 0,
    100% 0,
    100% 100%,
    calc(4px + var(--bar-offset)) 100%
  );
}

.barright {
  composes: bar;
  left: 0;
  text-align: left;
  clip-path: polygon(
    0 0,
    calc(100% - 4px - var(--bar-offset)) 0%,
    calc(100% - var(--bar-offset)) 100%,
    0% 100%
  );
}

.text {
  position: relative;
  width: 100%;
  height: 100%;
  right: 10px;
  top: 3px;
}

.textright {
  composes: text;
  left: 10px;
}
