.container {
  width: 100vw;
  height: 100vh;
}

.sidebar {
  float: left;
  width: 23%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: grey;
}

.sidebaroff {
  display: none;
}

.content {
  float: left;
  width: 77%;
  height: 100%;
}

.contentnotselected {
  display: flex;
  align-items: center;
  justify-content: center;
}

.notselectedtext {
  width: auto;
  text-align: center;
}

@media all and (orientation: portrait) {
  .sidebar {
    width: 100%;
  }

  .content {
    width: 100%;
  }
}
