.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.belowheader {
  height: calc(100% - var(--header-height));
}

.sidebar {
  float: left;
  width: 23%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebaroff {
  display: none;
}

.sidebarsearchcon {
  composes: animBoxBackground from global;
  position: sticky;
  top: 1px;
  margin-top: 5px;
  z-index: 1;
  padding: 5px 5px 5px 5px;
  width: 96%;
  display: flex;
  clip-path: polygon(0 0, calc(100% - 2px) 0, 100% 100%, 2px 100%);
}

.sidebarsearch {
  flex-grow: 1;
}

.content {
  float: left;
  width: 77%;
  height: 100%;
}

.contentwide {
  width: 100%;
}

.contentnotselected {
  display: flex;
  align-items: center;
  justify-content: center;
}

.notselectedtext {
  width: auto;
  text-align: center;
}

@media all and (max-aspect-ratio: 1/1) {
  .sidebar {
    width: 100%;
  }

  .sidebarsearch {
    width: 98.5%;
  }

  .content {
    width: 100%;
    overflow: auto;
  }
}
