.preview {
  height: 100%;
  width: 40%;
  float: left;
  overflow-y: auto;
}

.info {
  height: 100%;
  width: 60%;
  float: left;
  overflow-y: auto;
}

.inner {
  width: 95%;
  /* height: 95%; */
  margin-top: 2.5%;
  margin-left: 2.5%;
}

.canvascon {
  composes: animBoxBackground from global;
  clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 100%, 20px 100%);
  padding: 0 20px 0 20px;
  width: 100%;
  overflow: hidden;
}

.previewcanvas {
  width: 100%;
  height: auto;
  resize: horizontal;
}

.canvasfailed {
  width: 100%;
  font-size: 2em;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvasfailed div {
  text-align: center;
}

.varcontainer {
  composes: animBoxBackground from global;
  width: fit-content;
  position: relative;
  top: -4px;
  color: black;
  padding-top: 4px;
  padding-bottom: 6px;
  clip-path: polygon(0 0, calc(100% - 5px) 0, 100% 100%, 5px 100%);
  margin-bottom: 10px;
}

.header {
  composes: boxHeaderBackground from global;
  width: fit-content;
  position: relative;
  left: 10px;
  color: white;
  padding: 4px 12px 4px 12px;
  clip-path: polygon(0 0, calc(100% - 4px) 0, 100% 100%, 4px 100%);
  z-index: 1;
}

.value {
  width: fit-content;
  margin-left: 20px;
  margin-right: 20px;
}

.middlealign {
  display: flex;
  align-items: center;
}

@media all and (max-aspect-ratio: 1/1) {
  .preview {
    width: 100%;
    height: fit-content;
  }

  .info {
    width: 100%;
    height: fit-content;
  }
}
