.filterButton {
  height: 100%;
  background-image: url("/filter.png");
  background-size: 100% 100%;
  aspect-ratio: 1;
}

.tabSelect {
  margin: 4px 0 4px 0;
}

.list {
  max-height: 80dvh;
  height: 80dvh;
  align-content: start;
  overflow-y: auto;
  user-select: none;
  width: calc(
    round(down, calc(90vw - 60px), min(calc(90vw - 60px), 262px)) + 13px
  );
}

.listFlex {
  composes: list;
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  justify-content: center;
}

.ability {
  color: white;
  text-align: center;
  width: 250px;
  max-width: 100%;
  min-height: 80px;
  padding: 4px;
  cursor: pointer;
}

.abilitySelected {
  composes: ability;
  composes: animSelectedBackground from global;
}

.abilityInner {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.abilityDesc {
  font-size: 0.9em;
}

.moveContainer {
  padding: 5px;
  flex: 0 0 95%;
  max-width: 460px;
  width: 95%;
  cursor: pointer;
}

.moveSelected {
  composes: moveContainer;
  composes: animSelectedBackground from global;
}

.trainingSelected {
  background-color: gray;
}
.trainingSelected:hover {
  background-color: rgb(167, 167, 167);
}
