.header {
  height: var(--header-height);
  display: flex;
  background-color: #1a1a1a;
}

.toggleicon {
  position: relative;
  top: 15%;
  height: 70%;
  transform-origin: 60% 50% 0;
  margin-right: 25px;
  cursor: pointer;
}

.toggleiconvisible {
  transform: scaleX(-1);
}

.title {
  min-width: 0;
  font-size: 2em;
  white-space: nowrap;
  overflow: hidden;
  line-height: var(--header-height);
}

.externallinkcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
}
