.selected {
  background-image: repeating-linear-gradient(
    135deg,
    #ffaa55,
    #ffaa55 10px,
    #ff8e4a 10px,
    #ff8e4a 20px
  ) !important;
}

@keyframes selected-scroll {
  from {
    background-position: -28px -28px;
  }
  to {
    background-position: 0px 0px;
  }
}

.beastie {
  margin-top: 10px;
  width: 100%;
  height: 120px;
  display: flex;
  cursor: pointer;
}

.beastie:last-child {
  margin-bottom: 10px;
}

.beastiecontent {
  width: 96%;
  padding-left: 2%;
  clip-path: polygon(0 0, 98% 1%, 100% 100%, 2% 99%);
  height: 100%;
  color: black;
  display: flex;
  background-image: repeating-linear-gradient(
    135deg,
    #ddd1bd,
    #ddd1bd 10px,
    #d5c9b5 10px,
    #d5c9b5 20px
  );
  background-size: 200% 200%;
  animation-name: selected-scroll;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.image {
  height: 100%;
}

.name {
  width: 67%;
  height: 100%;
  display: flex;
  align-items: center;
}

.name > div {
  display: inline-block;
  font-size: 2vw;
  width: 100%;
  text-align: center;
}

.hash {
  /* Hash doesns't exist in sports jersey. It would seem greg added it. */
  font-family: "Go Banana", sans-serif;
  font-weight: 800;
}

.number {
  font-family: SportsJersey, sans-serif;
  font-size: 1.2em;
}

@media all and (max-aspect-ratio: 4/6) {
  .name > div {
    font-size: 2.3em;
  }

  .beastie:last-child {
    margin-bottom: 60px;
  }
}
