.beastie {
  margin-top: 10px;
  width: 100%;
  height: 120px;
  display: flex;
  cursor: pointer;
}

.beastie:last-child {
  margin-bottom: 10px;
}

.beastiecontent {
  composes: animSelectableBackground from global;
  width: 96%;
  padding-left: 2%;
  clip-path: polygon(0 0, 98% 1%, 100% 100%, 2% 99%);
  height: 100%;
  color: black;
  display: flex;
}

.selected {
  composes: animSelectedBackground from global;
}

.image {
  height: 100%;
}

.name {
  width: 67%;
  height: 100%;
  display: flex;
  align-items: center;
}

.name > div {
  display: inline-block;
  font-size: 2vw;
  width: 100%;
  text-align: center;
}

.hash {
  /* Hash doesns't exist in sports jersey. It would seem greg added it. */
  font-family: "Go Banana", sans-serif;
  font-weight: 800;
}

.number {
  font-family: SportsJersey, sans-serif;
  font-size: 1.2em;
}

@media all and (max-aspect-ratio: 1/1) {
  .name > div {
    font-size: 2.3em;
  }

  .beastie:last-child {
    margin-bottom: 60px;
  }
}
