.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.settings {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.movescontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding-bottom: 20px;
  width: 100%;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.movescontainer > div {
  width: 95%;
}
