.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.settings {
  composes: animBoxBackground from global;
  color: black;
  text-align: center;
  margin: 6px auto;
  padding: 4px 8px;
  width: fit-content;
  clip-path: polygon(0 0, calc(100% - 4px) 0, 100% 100%, 4px 100%);
}

.settings > label {
  white-space: nowrap;
}

.movescontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding-bottom: 20px;
  width: 100%;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.movescontainer > div {
  width: 95%;
}
