@font-face {
  font-family: "Go Banana";
  src: url("/fonts/Go Banana.woff2") format("woff2");
  src: url("/fonts/Go Banana.woff") format("woff");
}

@font-face {
  font-family: "SportsJersey";
  src: url("/fonts/SportsJersey.woff2") format("woff2");
  src: url("/fonts/SportsJersey.woff") format("woff");
}

:root {
  font-family: "Go Banana", sans-serif;
  letter-spacing: 1px;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --header-height: 50px;
}

body {
  margin: 0;
}
