@font-face {
  font-family: "Go Banana";
  src: url("/fonts/Go Banana.woff") format("woff");
  src: url("/fonts/Go Banana.woff2") format("woff2");
}

@font-face {
  font-family: "SportsJersey";
  src: url("/fonts/SportsJersey.woff") format("woff");
  src: url("/fonts/SportsJersey.woff2") format("woff2");
  unicode-range: U+30-39, U+41-5A, U+61-7A; /* sports jersey only supports 0 to z and so this makes it fallback on regular fonts */
}

:root {
  font-family: var(--go-banana);
  font-size: 1.1em;
  letter-spacing: 1px;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --go-banana: "Go Banana", sans-serif;
  --sports-jersey: "SportsJersey", "Go Banana", sans-serif;
  --header-height: 50px;
}

body {
  margin: 0;
}

button {
  background-color: #2b2a33;
  border: 1px solid gray;
  border-radius: 4px;
  margin: 0 1px;
  padding: 2px 4px;
  font-family: Tahoma, "Segoe UI", Geneva, Verdana, sans-serif;
  color: white;
}

button:disabled {
  background-color: #222128;
  color: #75747a;
}

button:enabled:hover {
  background-color: #52525e;
}

input[type="search"] {
  background-color: #2b2a33;
  border-radius: 4px;
  border: 1px solid gray;
}

select {
  color: white;
  background-color: #2b2a33;
  border-radius: 4px;
  border: 1px solid gray;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  width: 100dvw;
  min-height: 100dvh;
  height: fit-content;
  background-image: repeating-linear-gradient(
    rgb(7, 7, 7),
    rgb(7, 7, 7) 4px,
    black 4px,
    black 8px
  );
  background-size: 100% 200%;
  animation: bg-scroll 2s linear infinite;
}

.commoncontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  height: 100dvh;
  text-align: center;
  padding: 1em;
  box-sizing: border-box;
}

.notfoundfacecontainer {
  position: relative;
  width: 156px;
  height: 156px;
  background-color: hsl(0, 0%, 95%);
  background-size: 100% 100%;
  border-radius: 50%;
}

.notfoundfacebg {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 120px;
  height: 120px;
  background: var(--notfoundface-col);
  border: 6px solid black;
  border-radius: 50%;
}

.notfoundface {
  position: absolute;
  top: 13px;
  left: 13px;
  height: 130px;
  width: 130px;
  background: var(--notfoundface-spr);
  background-size: 100% 100%;
}

.loading {
  color: black;
  padding: 1% 5% 1% 5%;
  height: fit-content;
  font-size: 4em;
  clip-path: polygon(0 0, 95% 0, 100% 100%, 5% 100%);
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.notvisible {
  color: transparent;
}

.noanim,
.noanim * {
  /* animation-duration: 0s !important; */
  animation-play-state: paused !important;
}

.animBackground {
  background-image: repeating-linear-gradient(
    rgb(7, 7, 7),
    rgb(7, 7, 7) 4px,
    black 4px,
    black 8px
  );
  background-size: 100% 200%;
  animation: bg-scroll 2s linear infinite;
}

.animPageHeaderBackground {
  background-image: repeating-linear-gradient(
    rgb(35, 35, 35),
    rgb(35, 35, 35) 4px,
    rgb(28, 28, 28) 4px,
    rgb(28, 28, 28) 8px
  );
  background-size: 100% 200%;
  animation: bg-scroll 2s linear infinite;
}

@keyframes bg-scroll {
  0% {
    background-position-y: 0px;
  }

  100% {
    background-position-y: -7.9px;
  }
}

/*
To use these add this to the top of the class you want to have it

composes: className from global;

(class name has no .)
*/

.animBoxBackground {
  background-image: repeating-linear-gradient(
    #ddd1bd,
    #ddd1bd 4px,
    #d5c9b5 4px,
    #d5c9b5 8px
  );
  background-size: 100% 200%;
  animation: bg-scroll 2s linear infinite;
}

a {
  color: dodgerblue;
}

a:visited {
  color: royalblue;
}

.boxHeaderBackground {
  background-image: repeating-linear-gradient(
    135deg,
    #000000,
    #000000 10px,
    #2e2e2e 10px,
    #2e2e2e 20px
  );
}

.boxHeaderSelectedBackground {
  background-image: repeating-linear-gradient(
    135deg,
    #a87038,
    #a87038 10px,
    #b88048 10px,
    #b88048 20px
  );
}

.selectableScroll {
  animation: selectable-scroll 4s linear infinite;
  background-size: 200% 200%;
}

.animSelectableBackground {
  background-image: repeating-linear-gradient(
    135deg,
    #ddd1bd,
    #ddd1bd 10px,
    #d5c9b5 10px,
    #d5c9b5 20px
  );
  background-size: 200% 200%;
  animation: selectable-scroll 4s linear infinite;
}

.animSelectedBackground {
  background-image: repeating-linear-gradient(
    135deg,
    #ffaa55,
    #ffaa55 10px,
    #ff8e4a 10px,
    #ff8e4a 20px
  ) !important;
  background-size: 200% 200%;
  animation: selectable-scroll 4s linear infinite;
}

@keyframes selectable-scroll {
  from {
    background-position: -28px -28px;
  }
  to {
    background-position: 0px 0px;
  }
}

::backdrop {
  background-color: black;
  opacity: 0.6;
}

:modal {
  background-color: transparent;
  border: none;
  color: black;
  max-height: 100vh;
  max-height: 100dvh;
}
:modal > div {
  max-height: 100vh;
  max-height: 100dvh;
}
:modal .infoBoxContent {
  max-width: 90vw;
  overflow-y: auto;
  overscroll-behavior: contain;
  max-height: 90vh;
  max-height: 90dvh;
  margin-right: 20px;
}

.infoboxHeader {
  background-image: repeating-linear-gradient(
    135deg,
    #000000,
    #000000 10px,
    #2e2e2e 10px,
    #2e2e2e 20px
  );
  width: fit-content;
  position: relative;
  margin-left: 10px;
  margin-right: 5px;
  color: white;
  padding: 4px 12px 4px 12px;
  clip-path: polygon(0 0, calc(100% - 4px) 0, 100% 100%, 4px 100%);
  z-index: 1;
}

.infoBoxContent {
  background-image: repeating-linear-gradient(
    #ddd1bd,
    #ddd1bd 4px,
    #d5c9b5 4px,
    #d5c9b5 8px
  );
  background-size: 100% 200%;
  clip-path: polygon(0 0, calc(100% - 5px) 0, 100% 100%, 5px 100%);
  color: black;
  animation: bg-scroll 2s linear infinite;
  max-width: fit-content;
  margin-bottom: 10px;
  padding: 4px 20px 6px 20px;
  position: relative;
  top: -4px;
}
